*.swp
configure
autom4te.cache
install-sh
Makefile
Makefile.in
config.log
config.status
config.pld
compile
missing
install-sh
ltmain.sh
aclocal.m4
.vagrant
missing

# From https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

# From: https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.*
!.gitignore
*~
*.sw[a-p]
.directory
