# these top-level configs are the defaults applied to each section
severity = 'medium'
confidence = 85
restriction = 'need-to-know'
alternativeid_restriction = 'public'
source = 'localhost'
guid = everyone

[bruteforceblocker]
feed = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
regex = '^(\S+)[\s|\t]+#\s(\S+\s\S+)'
regex_values = 'address,detecttime'
source = 'danger.rulez.sk'
portlist = 22
protocol = tcp
assessment = 'scanner'
description = 'ssh'
alternativeid = 'http://danger.rulez.sk/projects/bruteforceblocker/blist.php'
