# these top-level configs are the defaults applied to each section
confidence = 55
tlp = amber
parser = 'text'
tags = 'suspicious'
store_content = 1

[garwarn]
provider = garwarner.blogspot.com
remote = testdata/freeform/garwarn.txt

# http://www.fireeye.com/blog/technical/targeted-attack/2014/06/clandestine-fox-part-deux.html
[feye]
provider = fireeye.com
remote = testdata/freeform/feye.txt
ignore = '^Backdoor.APT.|\.[dll|exe|hlp|rar]'
alt_id = http://www.fireeye.com/blog/technical/targeted-attack/2014/06/clandestine-fox-part-deux.html
altid_tlp = green