# these top-level configs are the defaults applied to each section
confidence = 85
tlp = amber
provider = garwarner.blogspot.com
parser = 'text'

[blog]
feed = 'http://garwarner.blogspot.com/feeds/posts/default'
